useDynLib(termstrc, objfct_ns_bonds_Cpp, objfct_ns_bonds_gridCpp, objfct_sv_bonds_Cpp, objfct_sv_bonds_gridCpp, objfct_asv_bonds_Cpp, objfct_asv_bonds_gridCpp, grad_sv_bonds_gridCpp, grad_sv_gridCpp)

importFrom(urca, ur.df)
import(sandwich)


S3method(estim_cs, couponbonds)
S3method(estim_nss, couponbonds) 
S3method(estim_nss, dyncouponbonds)
S3method(estim_nss, zeroyields)
S3method(fcontrib, dyntermstrc_param)
S3method(param, dyntermstrc_nss)
S3method(param, dyntermstrc_yields)
S3method(rm_bond, couponbonds)
S3method(rm_bond, dyncouponbonds)

export(aabse,
bond_prices,
bond_yields,
create_cashflows_matrix,
create_maturities_matrix,
cSums,
duration,
rm_bond.couponbonds,
rm_bond.dyncouponbonds,
rm_bond,
estimateyieldcurve,
estimatezcyieldcurve,
estim_cs,
estim_cs.couponbonds,
estim_nss,
estim_nss.couponbonds,
estim_nss.dyncouponbonds,
estim_nss.zeroyields,
fcontrib,
fcontrib.dyntermstrc_param,
findstartparambonds,
findstartparamyields,
forwardrates,
fwr_asv,
fwr_dl,
fwr_ns,
fwr_sv,
get_constraints,
get_grad_objfct,
get_grad_objfct_bonds,
get_objfct,
get_objfct_bonds,
get_paramnames,
get_realnames,
gi,
grad_asv_bonds,
grad_asv_bonds_grid,
grad_dl_bonds,
grad_ns_bonds,
grad_ns_bonds_grid,
grad_asv,
grad_ns,
grad_sv,
grad_dl,
grad_sv_bonds,
grad_sv_bonds_grid,
grad_asv_grid,
grad_ns_grid,
grad_sv_grid,
impl_fwr,
loss_function,
maturity_range,
objfct_asv,
objfct_asv_grid,
objfct_asv_bonds,
objfct_asv_bonds_grid,
objfct_dl_bonds,
objfct_ns,
objfct_ns_grid,
objfct_ns_bonds,
objfct_ns_bonds_grid,
objfct_sv,
objfct_sv_grid,
objfct_dl,
objfct_sv_bonds,
objfct_sv_bonds_grid,
param,
param.dyntermstrc_nss,
param.dyntermstrc_yields,
plot.df_curves,
plot.dyntermstrc_nss,
plot.dyntermstrc_param,
plot.dyntermstrc_yields,
plot.error,
plot.fwr_curves,
plot.ir_curve,
plot.s_curves,
plot.spot_curves,
plot.spsearch,
plot.termstrc_cs,
plot.termstrc_nss,
plot.zeroyields,
postpro_bond,
prepro_bond,
print.couponbonds,
print.dyncouponbonds,
print.dyntermstrc_nss,
print.dyntermstrc_yields,
print.summary.dyntermstrc_nss,
print.summary.dyntermstrc_param,
print.summary.dyntermstrc_yields,
print.summary.termstrc_cs,
print.summary.termstrc_nss,
print.termstrc_cs,
print.termstrc_nss,
print.zeroyields,
rmse,
spotrates,
spr_asv,
spr_dl,
spr_ns,
spr_sv,
summary.dyntermstrc_nss,
summary.dyntermstrc_param,
summary.dyntermstrc_yields,
summary.termstrc_cs,
summary.termstrc_nss,
summary.zeroyields,
zeroyields)


